<div class="flex flex-column align-items-center">
    <div class="w-4">
        <h3 class="text-center">Nivel: {{nivel}}</h3>
        <p-slider [(ngModel)]="nivel" [min]="1" [max]="100" ></p-slider>
        <div class="flex justify-content-around">
        <button pButton pRipple icon="pi pi-arrow-circle-left" iconPos="left" type="button"
            label="Regresar" (click)="regresar()"
            class="p-button-primary p-button-rounded p-button-sm mb-2 mt-5"></button>
        <button pButton pRipple icon="pi pi-check" iconPos="left" type="button"
            label="Seleccionar" (click)="seleccionar()"
            class="p-button-danger p-button-rounded p-button-sm mb-2 mt-5"></button>
        </div>
    </div>
</div>
