<p-toolbar>
    <h1 class="text-center flex-auto" #title>Combate Pokemon</h1>
</p-toolbar>

<!--seleccion de pokemon-->

<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab [(selected)]="seleccionActiva" [disabled]="seleccionDeshabilitada">
        <ng-template pTemplate="header">Seleccionar Pokemon</ng-template>
        <ng-template pTemplate="content">
            <app-seleccion></app-seleccion>
        </ng-template>
    </p-accordionTab>
</p-accordion>

<!--HUB de combate-->

<div class="flex flex-wrap justify-content-center gap-8">
    <app-combate-panel-info [titulo]="'Usuario'" [pokemon]="pokemonUsuario"></app-combate-panel-info>
    <app-combate-panel-info [titulo]="'Enemigo'" [pokemon]="pokemonEnemigo"></app-combate-panel-info>
</div>

<!-- seleccion de movimiento -->
<div *ngIf="pokemonUsuario" class="flex flex-wrap justify-content-around gap-5 my-6 mx-4">
    <div class="borde">
        <div *ngFor="let movimiento of pokemonUsuario.movimientos" class="flex align-items-center gap-2 p-3">
            <p-radioButton name="movimiento" [value]="movimiento" [(ngModel)]="movimientoSeleccionado"></p-radioButton>
            <label [for]="movimiento" class="text-xl">{{movimiento.nombre}}</label>
            <p-image [src]="'../../../assets/icon_'+movimiento.tipo+'.webp'" width="24"></p-image>
        </div>
    </div>
    <textarea rows="6" cols="50" pInputTextarea [(ngModel)]="consolaTexto" class="p-3 text-center text-lg line-height-4 bg-black-alpha-90 borde"></textarea>
    <button pButton pRipple icon="pi pi-check" iconPos="left" type="button"
            label="ATACAR" [disabled]="!movimientoSeleccionado" (click)="onAtacar()"
            class="p-button-danger p-button-rounded p-button-sm align-self-center"></button>
</div>


