<p-toolbar>
    <h1 class="text-center flex-auto" #title>Combate Pokemon</h1>
</p-toolbar>

<!--<p-accordion>
    <p-accordionTab [(selected)]="seleccionActiva">
        <ng-template pTemplate="header">{{pokemonSeleccionado | titlecase}}</ng-template>
        <ng-template pTemplate="content">
            <app-galeria-pokemon (pokemonSeleccionadoEvent)="nuevoPokemonSeleccionado($event)"></app-galeria-pokemon>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">Seleccionar nivel</ng-template>
        <ng-template pTemplate="content">
            <div class="slider nivel">
                <span>slider nivel</span>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>-->

<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab [(selected)]="seleccionActiva">
        <ng-template pTemplate="header">Seleccionar Pokemon</ng-template>
        <ng-template pTemplate="content">
            <app-seleccion></app-seleccion>
        </ng-template>
    </p-accordionTab>
</p-accordion>

<span>{{pokemonSeleccionado.nombre}}</span>
<span>{{pokemonSeleccionado.nivel}}</span>

<h3>reorganizar card vs card</h3>

<h2>Usuario</h2>
<span>{{pokemonUsuario | json}}</span>
<h2>Enemigo</h2>
<span>{{pokemonEnemigo | json}}</span>