<p-toolbar>
    <h1 class="text-center flex-auto" #title>Combate Pokemon</h1>
    <h2 hidden> {{audio.play()}}</h2>
</p-toolbar>

<!--seleccion de pokemon-->

<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab [(selected)]="seleccionActiva" [disabled]="seleccionDeshabilitada">
        <ng-template pTemplate="header">Seleccionar Pokemon</ng-template>
        <ng-template pTemplate="content">
            <app-seleccion></app-seleccion>
        </ng-template>
    </p-accordionTab>
</p-accordion>

<!--HUB de combate-->

<div class="flex justify-content-center gap-8">
    <div *ngIf="pokemonUsuario">
        <h2 class="text-center p-3">Usuario</h2>
        <div *ngIf="pokemonUsuario" class="flex gap-5 mt-3">
            <p-image [src]="pokemonUsuario.imgUrl" [alt]="pokemonUsuario.nombre" width="200" [preview]="true"></p-image>
            <app-combate-panel-info [pokemon]="pokemonUsuario" class="w-3 min-w-max"></app-combate-panel-info>
        </div>
    </div>
    <div *ngIf="pokemonEnemigo">
        <h2 class="text-center p-3">Enemigo</h2>
        <div *ngIf="pokemonEnemigo" class="flex gap-5 mt-3">
            <p-image [src]="pokemonEnemigo.imgUrl" [alt]="pokemonEnemigo.nombre" width="200" [preview]="true"></p-image>
            <app-combate-panel-info [pokemon]="pokemonEnemigo" class="w-3 min-w-max"></app-combate-panel-info>
        </div>
    </div>
</div>

<!-- seleccion de movimiento -->
<ng-container *ngIf="pokemonUsuario">
    <div *ngFor="let movimiento of pokemonUsuario.movimientos" class="field-checkbox">
        <p-radioButton name="movimiento" [value]="movimiento" [(ngModel)]="movimientoSeleccionado"></p-radioButton>
        <label [for]="movimiento">{{movimiento.nombre}}</label>
        <p-image [src]="'../../../assets/icon_'+movimiento.tipo+'.webp'" width="24"></p-image>
    </div>
    <button pButton pRipple icon="pi pi-check" iconPos="left" type="button"
            label="ATACAR" [disabled]="!movimientoSeleccionado" (click)="onAtacar()"
            class="p-button-danger p-button-rounded p-button-sm mb-2 mt-5"></button>
</ng-container>

<script>
    document.click()
</script>