:host ::ng-deep .p-image-preview-container {
    box-shadow: 2px 3px 5px 5px;
    background-color: #dee2e6;
    border-radius: 10px;
}

:host ::ng-deep .p-image-preview {
    scale: 7;
}

:host ::ng-deep .p-card{
    box-shadow: 2px 5px 10px;
    border-radius: 10px;
}

:host ::ng-deep .p-card-body{
    padding: 1rem;
}

:host ::ng-deep .p-card-content{
    padding: 0rem;
}

:host ::ng-deep .p-card-content .p-progressbar-value{
    background: #18c020;
}

:host ::ng-deep .p-card-footer{
    padding: 0rem;
    padding-top: 1rem;
}

:host ::ng-deep .p-card-header img{
    width: 24px;
}
