<p-card>
    <ng-template pTemplate="header">
        <div class="flex p-3 justify-content-around gap-3 ">
            <div class="flex align-content-center gap-2">
                <span>{{pokemon.nombre | uppercase}}</span>
                <ng-container *ngFor="let tipo of pokemon.tipos">
                    <p-image [src]="'../../../assets/icon_'+tipo+'.webp'" width="24"></p-image>
                </ng-container>
            </div>
            <span>Nv {{pokemon.nivel}}</span>
        </div>
    </ng-template>
    <div class="flex gap-2">
        <span>PS</span>
        <p-progressBar class="w-full" [value]="porcentajeBarraPs" [showValue]="false"></p-progressBar>
    </div>
    <ng-template pTemplate="footer">
        <span class="flex justify-content-end">{{psActual}} / {{pokemon.ps}}</span>
    </ng-template>
</p-card>