
    <h1>Combate Pokemon</h1>
    
    <h2>Usuario</h2>

        <div>
            <select id="pokemones" (change)="onChangeSelect($event)">
                <option [disabled]="true">Seleccione pokemon</option>
                <option *ngFor='let pokemonNombre of pokemonNombres' [value]="pokemonNombre" >{{pokemonNombre}}</option>
            </select>
        </div>
        <label for="inputLvl">Ingrese nivel</label>
        <input name="inputLvl" #inputLvl type="number" placeholder="Ingrese nivel">
        <button type="button" (click)="onSubmit(inputLvl)">Enviar</button>

        <span>{{pokemonUsuario | json}}</span>

    <h2>Enemigo</h2>
    <span>{{pokemonEnemigo | json}}</span>